<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VMS CDTI{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/logoSena.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/ajax-setup.js' %}"></script>
</head>
<body>
    {% block content %}
    <!-- Contenido de la página -->
    {% endblock %}
</body>
</html>

