{% extends "base.html" %}
{% block title %}Camaras{% endblock %}
{% load static %}
{% block content %}
<main class="main-cameras">
  <header class="header">
    <div class="adjust-box">
      <a href="/cameras" class="navbar-brand">
        <img
          class="icon"
          src="{% static 'images/logoSena.png' %}"
          alt="Servicio Nacional de Aprendizaje"
        />
        <h3>VMS CDTI</h3>
      </a>
    </div>

    <div class="adjust-box">
      <h3 class="label-rol">ADMIN</h3>
    </div>

    <div class="adjust-box">
      <button class="btnToggle">
        <img
          class="icon"
          src="{% static 'images/icons/menu-3-line.svg' %}"
          alt="Toggle mini-menu"
        />
      </button>
  
      <div class="group-btn">
        <button id="btnAddCam">
          <img
            class="icon"
            src="{% static 'images/icons/video-add-line.svg' %}"
            alt="Crear Camara"
          />
        </button>
        <button id="btnRemoveCam">
          <img
            class="icon"
            src="{% static 'images/icons/video-off-line.svg' %}"
            alt="Eliminar Camara"
          />
        </button>
        <a href="{% url 'exit' %}">
          <img
            class="icon"
            src="{% static 'images/icons/logout-circle-line.svg' %}"
            alt="Cerrar sesión"
          />
        </a>
      </div>
    </div>
  </header>
  <aside class="sidebar">
    <header class="headerSidebar">
      <div class="title">
        <img
          class="icon"
          src="{% static 'images/icons/layout-masonry-line.svg' %}"
          alt="Sectores CDTI"
        />
        <h3>SECTORES</h3>
      </div>
      <span class="hr"></span>
    </header>

    <section class="sectores">
      <ul class="menu" id="menuSidebar">
        <li class="item">
          <header class="item-header">
            <h3>BLOQUE A</h3>
          </header>
        </li>
        <li class="item">
          <header class="item-header">
            <h3>BLOQUE C</h3>
          </header>
        </li>
      </ul>
    </section>

    <button class="arrowToggle">
      <img
        class="icon"
        src="{% static 'images/icons/arrow-right-wide-line.svg' %}"
        alt="Sectores CDTI"
      />
    </button>
  </aside>
  <section class="cameras" id="cameras">
    <img src="http://10.211.145.89:4747/video" alt="xd" class="cam">
    <img src="http://10.211.144.143:4747/video" alt="xd" class="cam">
    <img src="http://10.211.144.36:4747/video" alt="xd" class="cam">
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
    <div class="cam"></div>
  </section>
</main>

<section id="modal-section" class="modal-section"></section>

<script src="{% static 'js/cameras.js' %}"></script>
<script src="{% static 'js/aside-menu.js' %}"></script>
<script src="{% static 'js/mini-menu.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>

{% endblock %}
